<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= contentTitle %></p>

<% console.log(postContent); %> <%
postContent.forEach(function(post){console.log(post.title)}); %> <%
postContent.forEach(function(post){console.log(post.body)}); %> <%-
include("partials/footer"); -%>
